.header
  .header__top
    .header__top__logo
      event-app
  .header__bottom
    %ul
      %li.menu
        = link_to "TOP", "#", class: "header-menu"
      %li.menu
        = link_to "SERCH", "#", class: "header-menu"
      %li.menu
        = link_to "MY PAGE", "#", class: "header-menu"
